*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainbox{
    display: flex;
    justify-content:space-between;
    text-align: left;
    background-color: aqua;
    width: 100%;
    position: relative;
}
.maincontainer{
    
}
button{
    width: fit-content;
    height: fit-content;
    padding: 0.2rem 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    color: white;
    margin-top: 5rem;
}
.prev{
    background-color: red;
}
.next{
    background-color: green;
}
img{
    padding: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.imgcontainer{
    display: flex;
    justify-content: center;
}